:root {
    --orange-50 : rgb(255 247 237);    
    --orange-100: rgb(255 237 213);
    --orange-200: rgb(254 215 170);
    --orange-300: rgb(253 186 116);
    --orange-400: rgb(251 146 60);
    --orange-500: rgb(249 115 22);
    --orange-600: rgb(234 88 12);
    --orange-700: rgb(194 65 12);
    --orange-800: rgb(154 52 18);
    --orange-900: rgb(124 45 18);
    --orange-950: rgb(67 20 7);

    --amber-50  : rgb(255 251 235);
    --amber-100 : rgb(254 243 199);
    --amber-200 : rgb(253 230 138);
    --amber-300 : rgb(252 211 77);
    --amber-400 : rgb(251 191 36);
    --amber-500 : rgb(245 158 11);
    --amber-600 : rgb(217 119 6);
    --amber-700 : rgb(180 83 9);
    --amber-800 : rgb(146 64 14);
    --amber-900 : rgb(120 53 15);
    --amber-950 : rgb(69 26 3);

    --yellow-50 : rgb(254 252 232);
    --yellow-100: rgb(254 249 195);
    --yellow-200: rgb(254 240 138);
    --yellow-300: rgb(253 224 71);
    --yellow-400: rgb(250 204 21);
    --yellow-500: rgb(234 179 8);
    --yellow-600: rgb(202 138 4);
    --yellow-700: rgb(161 98 7);
    --yellow-800: rgb(133 77 14);
    --yellow-900: rgb(113 63 18);
    --yellow-950: rgb(66 32 6);

    --lime-50   : rgb(247 254 231);
    --lime-100  : rgb(236 252 203);
    --lime-200  : rgb(217 249 157);
    --lime-300  : rgb(190 242 100);
    --lime-400  : rgb(163 230 53);
    --lime-500  : rgb(132 204 22);
    --lime-600  : rgb(101 163 13);
    --lime-700  : rgb(77 124 15);
    --lime-800  : rgb(63 98 18);
    --lime-900  : rgb(54 83 20);
    --lime-950  : rgb(26 46 5);

    --emerald-50    : rgb(236 253 245);
    --emerald-100   : rgb(209 250 229);
    --emerald-200   : rgb(167 243 208);
    --emerald-300   : rgb(110 231 183);
    --emerald-400   : rgb(52 211 153);
    --emerald-500   : rgb(16 185 129);
    --emerald-600   : rgb(5 150 105);
    --emerald-700   : rgb(4 120 87);
    --emerald-800   : rgb(6 95 70);
    --emerald-900   : rgb(6 78 59);
    --emerald-950   : rgb(2 44 34);

    --teal-50   : rgb(240 253 250);
    --teal-100  : rgb(204 251 241);
    --teal-200  : rgb(153 246 228);
    --teal-300  : rgb(94 234 212);
    --teal-400  : rgb(45 212 191);
    --teal-500  : rgb(20 184 166);
    --teal-600  : rgb(13 148 136);
    --teal-700  : rgb(15 118 110);
    --teal-800  : rgb(17 94 89);
    --teal-900  : rgb(19 78 74);
    --teal-950  : rgb(4 47 46);

    --cyan-50   : rgb(236 254 255);
    --cyan-100  : rgb(207 250 254);
    --cyan-200  : rgb(165 243 252);
    --cyan-300  : rgb(103 232 249);
    --cyan-400  : rgb(34 211 238);
    --cyan-500  : rgb(6 182 212);
    --cyan-600  : rgb(8 145 178);
    --cyan-700  : rgb(14 116 144);
    --cyan-800  : rgb(21 94 117);
    --cyan-900  : rgb(22 78 99);
    --cyan-950  : rgb(8 51 68);

    --sky-50    : rgb(240 249 255);
    --sky-100   : rgb(224 242 254);
    --sky-200   : rgb(186 230 253);
    --sky-300   : rgb(125 211 252);
    --sky-400   : rgb(56 189 248);
    --sky-500   : rgb(14 165 233);
    --sky-600   : rgb(2 132 199);
    --sky-700   : rgb(3 105 161);
    --sky-800   : rgb(7 89 133);
    --sky-900   : rgb(12 74 110);
    --sky-950   : rgb(8 47 73);

    --blue-50   : rgb(239 246 255);
    --blue-100  : rgb(219 234 254);
    --blue-200  : rgb(191 219 254);
    --blue-300  : rgb(147 197 253);
    --blue-400  : rgb(96 165 250);
    --blue-500  : rgb(59 130 246);
    --blue-600  : rgb(37 99 235);
    --blue-700  : rgb(29 78 216);
    --blue-800  : rgb(30 64 175);
    --blue-900  : rgb(30 58 138);
    --blue-950  : rgb(23 37 84);

    --indigo-50 : rgb(238 242 255);
    --indigo-100: rgb(224 231 255);
    --indigo-200: rgb(199 210 254);
    --indigo-300: rgb(165 180 252);
    --indigo-400: rgb(129 140 248);
    --indigo-500: rgb(99 102 241);
    --indigo-600: rgb(79 70 229);
    --indigo-700: rgb(67 56 202);
    --indigo-800: rgb(55 48 163);
    --indigo-900: rgb(49 46 129);
    --indigo-950: rgb(30 27 75);

    --violet-50 : rgb(245 243 255);
    --violet-100: rgb(237 233 254);
    --violet-200: rgb(221 214 254);
    --violet-300: rgb(196 181 253);
    --violet-400: rgb(167 139 250);
    --violet-500: rgb(139 92 246);
    --violet-600: rgb(124 58 237);
    --violet-700: rgb(109 40 217);
    --violet-800: rgb(91 33 182);
    --violet-900: rgb(76 29 149);
    --violet-950: rgb(46 16 101);

    --purple-50 : rgb(250 245 255);
    --purple-100: rgb(243 232 255);
    --purple-200: rgb(233 213 255);
    --purple-300: rgb(216 180 254);
    --purple-400: rgb(192 132 252);
    --purple-500: rgb(168 85 247);
    --purple-600: rgb(147 51 234);
    --purple-700: rgb(126 34 206);
    --purple-800: rgb(107 33 168);
    --purple-900: rgb(88 28 135);
    --purple-950: rgb(59 7 100);

    --fuchsia-50: rgb(253 244 255);
    --fuchsia-100   : rgb(250 232 255);
    --fuchsia-200   : rgb(245 208 254);
    --fuchsia-300   : rgb(240 171 252);
    --fuchsia-400   : rgb(232 121 249);
    --fuchsia-500   : rgb(217 70 239);
    --fuchsia-600   : rgb(192 38 211);
    --fuchsia-700   : rgb(162 28 175);
    --fuchsia-800   : rgb(134 25 143);
    --fuchsia-900   : rgb(112 26 117);
    --fuchsia-950   : rgb(74 4 78);

    --pink-50   : rgb(253 242 248);
    --pink-100  : rgb(252 231 243);
    --pink-200  : rgb(251 207 232);
    --pink-300  : rgb(249 168 212);
    --pink-400  : rgb(244 114 182);
    --pink-500  : rgb(236 72 153);
    --pink-600  : rgb(219 39 119);
    --pink-700  : rgb(190 24 93);
    --pink-800  : rgb(157 23 77);
    --pink-900  : rgb(131 24 67);
    --pink-950  : rgb(80 7 36);

    --rose-50   : rgb(255 241 242);
    --rose-100  : rgb(255 228 230);
    --rose-200  : rgb(254 205 211);
    --rose-300  : rgb(253 164 175);
    --rose-400  : rgb(251 113 133);
    --rose-500  : rgb(244 63 94);
    --rose-600  : rgb(225 29 72);
    --rose-700  : rgb(190 18 60);
    --rose-800  : rgb(159 18 57);
    --rose-900  : rgb(136 19 55);
    --rose-950  : rgb(76 5 25);
    
    --stone-50 : #fafaf9;	
    --stone-100: rgb(245 245 244);	
    --stone-200: rgb(231 229 228);	
    --stone-300: rgb(214 211 209);	
    --stone-400: rgb(168 162 158);	
    --stone-500: rgb(120 113 108);	
    --stone-600: rgb(87 83 78);	
    --stone-700: rgb(68 64 60);	
    --stone-800: rgb(41 37 36);	
    --stone-900: rgb(28 25 23);	
    --stone-950: rgb(12 10 9);	

    --slate-50  : rgb(248 250 252);
    --slate-100 : rgb(241 245 249);
    --slate-200 : rgb(226 232 240);
    --slate-300 : rgb(203 213 225);
    --slate-400 : rgb(148 163 184);
    --slate-500 : rgb(100 116 139);
    --slate-600 : rgb(71 85 105);
    --slate-700 : rgb(51 65 85);
    --slate-800 : rgb(30 41 59);
    --slate-900 : rgb(15 23 42);
    --slate-950 : rgb(2 6 23);
    
    --gray-50 : rgb(249 250 251);
    --gray-100: rgb(243 244 246);
    --gray-200: rgb(229 231 235);
    --gray-300: rgb(209 213 219);
    --gray-400: rgb(156 163 175);
    --gray-500: rgb(107 114 128);
    --gray-600: rgb(75 85 99);
    --gray-700: rgb(55 65 81);
    --gray-800: rgb(31 41 55);
    --gray-900: rgb(17 24 39);
    --gray-950: rgb(3 7 18);

    --zinc-50 : rgb(250 250 250);
    --zinc-100: rgb(244 244 245);
    --zinc-200: rgb(228 228 231);
    --zinc-300: rgb(212 212 216);
    --zinc-400: rgb(161 161 170);
    --zinc-500: rgb(113 113 122);
    --zinc-600: rgb(82 82 91);
    --zinc-700: rgb(63 63 70);
    --zinc-800: rgb(39 39 42);
    --zinc-900: rgb(24 24 27);
    --zinc-950: rgb(9 9 11);

    --neutral-50  : rgb(250 250 250);
    --neutral-100 : rgb(245 245 245);
    --neutral-200 : rgb(229 229 229);
    --neutral-300 : rgb(212 212 212);
    --neutral-400 : rgb(163 163 163);
    --neutral-500 : rgb(115 115 115);
    --neutral-600 : rgb(82 82 82);
    --neutral-700 : rgb(64 64 64);
    --neutral-800 : rgb(38 38 38);
    --neutral-900 : rgb(23 23 23);
    --neutral-950 : rgb(10 10 10);

    --green-50 : rgb(240 253 244);
    --green-100: rgb(220 252 231);
    --green-200: rgb(187 247 208);
    --green-300: rgb(134 239 172);
    --green-400: rgb(74 222 128);
    --green-500: rgb(34 197 94);
    --green-600: rgb(22 163 74);
    --green-700: rgb(21 128 61);
    --green-800: rgb(22 101 52);
    --green-900: rgb(20 83 45);
    --green-950: rgb(5 46 22);

    --red-50 :rgb(254 242 242);
    --red-100:rgb(254 226 226);
    --red-200:rgb(254 202 202);
    --red-300:rgb(252 165 165);
    --red-400:rgb(248 113 113);
    --red-500:rgb(239 68 68);
    --red-600:rgb(220 38 38);
    --red-700:rgb(185 28 28);
    --red-800:rgb(153 27 27);
    --red-900:rgb(127 29 29);
    --red-950:rgb(69 10 10);

    --transition: all 300ms ease;
}

/* ROOT CLASS BACKGROUND */
.bg-black {
    background-color: rgb(0 0 0);
}	

.bg-white {
    background-color: rgb(255 255 255);
}	

.bg-transparent {
    background-color: transparent;
}

.bg-slate-50 {
    background-color: var(--slate-50);
}	

.bg-slate-100 {
    background-color: var(--slate-100);
}	

.bg-slate-200 {
    background-color: var(--slate-200);
}	

.bg-slate-300 {
    background-color: var(--slate-300);
}	

.bg-slate-400 {
    background-color: var(--slate-400);
}	

.bg-slate-500 {
    background-color: var(--slate-500);
}	

.bg-slate-600 {
    background-color: var(--slate-600);
}	

.bg-slate-700 {
    background-color: var(--slate-700);
}	

.bg-slate-800 {
    background-color: var(--slate-800);
}	

.bg-slate-900 {
    background-color: var(--slate-900);
}	

.bg-slate-950 {
    background-color: var(--slate-950);
}

.bg-gray-50 {
    background-color: var(--gray-50);
}

.bg-gray-100 {
    background-color: var(--gray-100);
}

.bg-gray-200 {
    background-color: var(--gray-200);
}

.bg-gray-300 {
    background-color: var(--gray-300);
}

.bg-gray-400 {
    background-color: var(--gray-400);
}

.bg-gray-500 {
    background-color: var(--gray-500);
}

.bg-gray-600 {
    background-color: var(--gray-600);
}

.bg-gray-700 {
    background-color: var(--gray-700);
}

.bg-gray-800 {
    background-color: var(--gray-800);
}

.bg-gray-900 {
    background-color: var(--gray-900);
}

.bg-gray-950 {
    background-color: var(--gray-950);
}

.bg-zinc-50 {
    background-color: var(--zinc-50);
}	

.bg-zinc-100 {
    background-color: var(--zinc-100);
}	

.bg-zinc-200 {
    background-color: var(--zinc-200);
}	

.bg-zinc-300 {
    background-color: var(--zinc-300);
}	

.bg-zinc-400 {
    background-color: var(--zinc-400);
}	

.bg-zinc-500 {
    background-color: var(--zinc-500);
}	

.bg-zinc-600 {
    background-color: var(--zinc-600);
}	

.bg-zinc-700 {
    background-color: var(--zinc-700);
}	

.bg-zinc-800 {
    background-color: var(--zinc-800);
}	

.bg-zinc-900 {
    background-color: var(--zinc-900);
}	

.bg-zinc-950 {
    background-color: var(--zinc-950);
}	

.bg-neutral-50 {
    background-color: var(--neutral-50);
}	

.bg-neutral-100 {
    background-color: var(--neutral-100);
}	

.bg-neutral-200 {
    background-color: var(--neutral-200);
}	

.bg-neutral-300 {
    background-color: var(--neutral-300);
}	

.bg-neutral-400 {
    background-color: var(--neutral-400);
}	

.bg-neutral-500 {
    background-color: var(--neutral-500);
}	

.bg-neutral-600 {
    background-color: var(--neutral-600);
}	

.bg-neutral-700 {
    background-color: var(--neutral-700);
}	

.bg-neutral-800 {
    background-color: var(--neutral-800);
}	

.bg-neutral-900 {
    background-color: var(--neutral-900);
}	

.bg-neutral-950 {
    background-color: var(--neutral-950);
}

.bg-green-50 {
    background-color: var(--green-50);
}

.bg-green-100 {
    background-color: var(--green-100);
}

.bg-green-200 {
    background-color: var(--green-200);
}

.bg-green-300 {
    background-color: var(--green-300);
}

.bg-green-400 {
    background-color: var(--green-400);
}

.bg-green-500 {
    background-color: var(--green-500);
}

.bg-green-600 {
    background-color: var(--green-600);
}

.bg-green-700 {
    background-color: var(--green-700);
}

.bg-green-800 {
    background-color: var(--green-800);
}

.bg-green-900 {
    background-color: var(--green-900);
}

.bg-green-950 {
    background-color: var(--green-950);
}

.bg-red-50 {
    background-color: var(--red-50);
}

.bg-red-100 {
    background-color: var(--red-100);
}

.bg-red-200 {
    background-color: var(--red-200);
}

.bg-red-300 {
    background-color: var(--red-300);
}

.bg-red-400 {
    background-color: var(--red-400);
}

.bg-red-500 {
    background-color: var(--red-500);
}

.bg-red-600 {
    background-color: var(--red-600);
}

.bg-red-700 {
    background-color: var(--red-700);
}

.bg-red-800 {
    background-color: var(--red-800);
}

.bg-red-900 {
    background-color: var(--red-900);
}

.bg-red-950 {
    background-color: var(--red-950);
}

.bg-blue-50 {
    background-color: var(--blue-50);
}

.bg-blue-100 {
    background-color: var(--blue-100);
}

.bg-blue-200 {
    background-color: var(--blue-200);
}

.bg-blue-300 {
    background-color: var(--blue-300);
}

.bg-blue-400 {
    background-color: var(--blue-400);
}

.bg-blue-500 {
    background-color: var(--blue-500);
}

.bg-blue-600 {
    background-color: var(--blue-600);
}

.bg-blue-700 {
    background-color: var(--blue-700);
}

.bg-blue-800 {
    background-color: var(--blue-800);
}

.bg-blue-900 {
    background-color: var(--blue-900);
}

.bg-blue-950 {
    background-color: var(--blue-900);
}

.bg-stone-50 {
    background-color: var(--stone-50);
}	

.bg-stone-100 {
    background-color: var(--stone-100);
}	

.bg-stone-200 {
    background-color: var(--stone-200);
}	

.bg-stone-300 {
    background-color: var(--stone-300);
}	

.bg-stone-400 {
    background-color: var(--stone-400);
}	

.bg-stone-500 {
    background-color: var(--stone-500);
}	

.bg-stone-600 {
    background-color: var(--stone-600);
}	

.bg-stone-700 {
    background-color: var(--stone-700);
}	

.bg-stone-800 {
    background-color: var(--stone-800);
}	

.bg-stone-900 {
    background-color: var(--stone-900);
}	

.bg-stone-950 {
    background-color: var(--stone-950);
}	
.bg-orange-50 {
    background-color: var(--orange-50);
}

.bg-orange-100 {
    background-color: var(--orange-100);
}	

.bg-orange-200 {
    background-color: var(--orange-200);
}	

.bg-orange-300 {
    background-color: var(--orange-300);
}	

.bg-orange-400 {
    background-color: var(--orange-400);
}	

.bg-orange-500 {
    background-color: var(--orange-500);
}	

.bg-orange-600 {
    background-color: var(--orange-600);
}	

.bg-orange-700 {
    background-color: var(--orange-700);
}	

.bg-orange-800 {
    background-color: var(--orange-800);
}	

.bg-orange-900 {
    background-color: var(--orange-900);
}	

.bg-orange-950 {
    background-color: var(--orange-950);
}
.bg-amber-50 {
    background-color: var(--amber-50);
}	

.bg-amber-100 {
    background-color: var(--amber-100);
}	

.bg-amber-200 {
    background-color: var(--amber-200);
}	

.bg-amber-300 {
    background-color: var(--amber-300);
}	

.bg-amber-400 {
    background-color: var(--amber-400);
}	

.bg-amber-500 {
    background-color: var(--amber-500);
}	

.bg-amber-600 {
    background-color: var(--amber-600);
}	

.bg-amber-700 {
    background-color: var(--amber-700);
}	

.bg-amber-800 {
    background-color: var(--amber-800);
}	

.bg-amber-900 {
    background-color: var(--amber-900);
}	

.bg-amber-950 {
    background-color: var(--amber-950);
}

.bg-yellow-50 {
    background-color: var(--yellow-50);
}	

.bg-yellow-100 {
    background-color: var(--yellow-100);
}	

.bg-yellow-200 {
    background-color: var(--yellow-200);
}	

.bg-yellow-300 {
    background-color: var(--yellow-300);
}	

.bg-yellow-400 {
    background-color: var(--yellow-400);
}	

.bg-yellow-500 {
    background-color: var(--yellow-500);
}	

.bg-yellow-600 {
    background-color: var(--yellow-600);
}	

.bg-yellow-700 {
    background-color: var(--yellow-700);
}	

.bg-yellow-800 {
    background-color: var(--yellow-800);
}	

.bg-yellow-900 {
    background-color: var(--yellow-900);
}	

.bg-yellow-950 {
    background-color: var(--yellow-950);
}

.bg-lime-50 {
    background-color: var(--lime-50);
}	

.bg-lime-100 {
    background-color: var(--lime-100);
}	

.bg-lime-200 {
    background-color: var(--lime-200);
}	

.bg-lime-300 {
    background-color: var(--lime-300);
}	

.bg-lime-400 {
    background-color: var(--lime-400);
}	

.bg-lime-500 {
    background-color: var(--lime-500);
}	

.bg-lime-600 {
    background-color: var(--lime-600);
}	

.bg-lime-700 {
    background-color: var(--lime-700);
}	

.bg-lime-800 {
    background-color: var(--lime-800);
}	

.bg-lime-900 {
    background-color: var(--lime-900);
}	

.bg-lime-950 {
    background-color: var(--lime-950);
}

.bg-emerald-50 {
    background-color: var(--emerald-50);
}	

.bg-emerald-100 {
    background-color: var(--emerald-100);
}	

.bg-emerald-200 {
    background-color: var(--emerald-200);
}	

.bg-emerald-300 {
    background-color: var(--emerald-300);
}	

.bg-emerald-400 {
    background-color: var(--emerald-400);
}	

.bg-emerald-500 {
    background-color: var(--emerald-500);
}	

.bg-emerald-600 {
    background-color: var(--emerald-600);
}	

.bg-emerald-700 {
    background-color: var(--emerald-700);
}	

.bg-emerald-800 {
    background-color: var(--emerald-800);
}	

.bg-emerald-900 {
    background-color: var(--emerald-900);
}	

.bg-emerald-950 {
    background-color: var(--emerald-950);
}

.bg-teal-50 {
    background-color: var(--teal-50);
}	

.bg-teal-100 {
    background-color: var(--teal-100);
}	

.bg-teal-200 {
    background-color: var(--teal-200);
}	

.bg-teal-300 {
    background-color: var(--teal-300);
}	

.bg-teal-400 {
    background-color: var(--teal-400);
}	

.bg-teal-500 {
    background-color: var(--teal-500);
}	

.bg-teal-600 {
    background-color: var(--teal-600);
}	

.bg-teal-700 {
    background-color: var(--teal-700);
}	

.bg-teal-800 {
    background-color: var(--teal-800);
}	

.bg-teal-900 {
    background-color: var(--teal-900);
}	

.bg-teal-950 {
    background-color: var(--teal-950);
}

.bg-cyan-50 {
    background-color: var(--cyan-50);
}	

.bg-cyan-100 {
    background-color: var(--cyan-100);
}	

.bg-cyan-200 {
    background-color: var(--cyan-200);
}	

.bg-cyan-300 {
    background-color: var(--cyan-300);
}	

.bg-cyan-400 {
    background-color: var(--cyan-400);
}	

.bg-cyan-500 {
    background-color: var(--cyan-500);
}	

.bg-cyan-600 {
    background-color: var(--cyan-600);
}	

.bg-cyan-700 {
    background-color: var(--cyan-700);
}	

.bg-cyan-800 {
    background-color: var(--cyan-800);
}	

.bg-cyan-900 {
    background-color: var(--cyan-900);
}	

.bg-cyan-950 {
    background-color: var(--cyan-950);
}

.bg-sky-50 {
    background-color: var(--sky-50);
}	

.bg-sky-100 {
    background-color: var(--sky-100);
}	

.bg-sky-200 {
    background-color: var(--sky-200);
}	

.bg-sky-300 {
    background-color: var(--sky-300);
}	

.bg-sky-400 {
    background-color: var(--sky-400);
}	

.bg-sky-500 {
    background-color: var(--sky-500);
}	

.bg-sky-600 {
    background-color: var(--sky-600);
}	

.bg-sky-700 {
    background-color: var(--sky-700);
}	

.bg-sky-800 {
    background-color: var(--sky-800);
}	

.bg-sky-900 {
    background-color: var(--sky-900);
}	

.bg-sky-950 {
    background-color: var(--sky-950);
}

.bg-blue-50 {
    background-color: var(--blue-50);
}	

.bg-blue-100 {
    background-color: var(--blue-100);
}	

.bg-blue-200 {
    background-color: var(--blue-200);
}	

.bg-blue-300 {
    background-color: var(--blue-300);
}	

.bg-blue-400 {
    background-color: var(--blue-400);
}	

.bg-blue-500 {
    background-color: var(--blue-500);
}	

.bg-blue-600 {
    background-color: var(--blue-600);
}	

.bg-blue-700 {
    background-color: var(--blue-700);
}	

.bg-blue-800 {
    background-color: var(--blue-800);
}	

.bg-blue-900 {
    background-color: var(--blue-900);
}	

.bg-blue-950 {
    background-color: var(--blue-950);
}

.bg-indigo-50 {
    background-color: var(--indigo-50);
}	

.bg-indigo-100 {
    background-color: var(--indigo-100);
}	

.bg-indigo-200 {
    background-color: var(--indigo-200);
}	

.bg-indigo-300 {
    background-color: var(--indigo-300);
}	

.bg-indigo-400 {
    background-color: var(--indigo-400);
}	

.bg-indigo-500 {
    background-color: var(--indigo-500);
}	

.bg-indigo-600 {
    background-color: var(--indigo-600);
}	

.bg-indigo-700 {
    background-color: var(--indigo-700);
}	

.bg-indigo-800 {
    background-color: var(--indigo-800);
}	

.bg-indigo-900 {
    background-color: var(--indigo-900);
}	

.bg-indigo-950 {
    background-color: var(--indigo-950);
}

.bg-violet-50 {
    background-color: var(--violet-50);
}	

.bg-violet-100 {
    background-color: var(--violet-100);
}	

.bg-violet-200 {
    background-color: var(--violet-200);
}	

.bg-violet-300 {
    background-color: var(--violet-300);
}	

.bg-violet-400 {
    background-color: var(--violet-400);
}	

.bg-violet-500 {
    background-color: var(--violet-500);
}	

.bg-violet-600 {
    background-color: var(--violet-600);
}	

.bg-violet-700 {
    background-color: var(--violet-700);
}	

.bg-violet-800 {
    background-color: var(--violet-800);
}	

.bg-violet-900 {
    background-color: var(--violet-900);
}	

.bg-violet-950 {
    background-color: var(--violet-950);
}

.bg-purple-50 {
    background-color: var(--purple-50);
}	

.bg-purple-100 {
    background-color: var(--purple-100);
}	

.bg-purple-200 {
    background-color: var(--purple-200);
}	

.bg-purple-300 {
    background-color: var(--purple-300);
}	

.bg-purple-400 {
    background-color: var(--purple-400);
}	

.bg-purple-500 {
    background-color: var(--purple-500);
}	

.bg-purple-600 {
    background-color: var(--purple-600);
}	

.bg-purple-700 {
    background-color: var(--purple-700);
}	

.bg-purple-800 {
    background-color: var(--purple-800);
}	

.bg-purple-900 {
    background-color: var(--purple-900);
}	

.bg-purple-950 {
    background-color: var(--purple-950);
}

.bg-fuchsia-50 {
    background-color: var(--fuchsia-50);
}	

.bg-fuchsia-100 {
    background-color: var(--fuchsia-100);
}	

.bg-fuchsia-200 {
    background-color: var(--fuchsia-200);
}	

.bg-fuchsia-300 {
    background-color: var(--fuchsia-300);
}	

.bg-fuchsia-400 {
    background-color: var(--fuchsia-400);
}	

.bg-fuchsia-500 {
    background-color: var(--fuchsia-500);
}	

.bg-fuchsia-600 {
    background-color: var(--fuchsia-600);
}	

.bg-fuchsia-700 {
    background-color: var(--fuchsia-700);
}	

.bg-fuchsia-800 {
    background-color: var(--fuchsia-800);
}	

.bg-fuchsia-900 {
    background-color: var(--fuchsia-900);
}	

.bg-fuchsia-950 {
    background-color: var(--fuchsia-950);
}	

.bg-pink-50 {
    background-color: var(--pink-50);
}	

.bg-pink-100 {
    background-color: var(--pink-100);
}	

.bg-pink-200 {
    background-color: var(--pink-200);
}	

.bg-pink-300 {
    background-color: var(--pink-300);
}	

.bg-pink-400 {
    background-color: var(--pink-400);
}	

.bg-pink-500 {
    background-color: var(--pink-500);
}	

.bg-pink-600 {
    background-color: var(--pink-600);
}	

.bg-pink-700 {
    background-color: var(--pink-700);
}	

.bg-pink-800 {
    background-color: var(--pink-800);
}	

.bg-pink-900 {
    background-color: var(--pink-900);
}	

.bg-pink-950 {
    background-color: var(--pink-950);
}

.bg-rose-50 {
    background-color: var(--rose-50);
}	

.bg-rose-100 {
    background-color: var(--rose-100);
}	

.bg-rose-200 {
    background-color: var(--rose-200);
}	

.bg-rose-300 {
    background-color: var(--rose-300);
}	

.bg-rose-400 {
    background-color: var(--rose-400);
}	

.bg-rose-500 {
    background-color: var(--rose-500);
}	

.bg-rose-600 {
    background-color: var(--rose-600);
}	

.bg-rose-700 {
    background-color: var(--rose-700);
}	

.bg-rose-800 {
    background-color: var(--rose-800);
}	

.bg-rose-900 {
    background-color: var(--rose-900);
}	

.bg-rose-950 {
    background-color: var(--rose-950);
}

/* ROOT CLASS COLOR */
.color-inherit {
    color: inherit;
}	

.color-current {
    color: currentColor;
}	

.color-transparent {
    color: transparent;
}	

.color-black {
    color: rgb(0 0 0);
}	

.color-white {
    color: rgb(255 255 255);
}	

.color-slate-50 {
    color: var(--slate-50);
}	

.color-slate-100 {
    color: var(--slate-100);
}	

.color-slate-200 {
    color: var(--slate-200);
}	

.color-slate-300 {
    color: var(--slate-300);
}	

.color-slate-400 {
    color: var(--slate-400);
}	

.color-slate-500 {
    color: var(--slate-500);
}	

.color-slate-600 {
    color: var(--slate-600);
}	

.color-slate-700 {
    color: var(--slate-700);
}	

.color-slate-800 {
    color: var(--slate-800);
}	

.color-slate-900 {
    color: var(--slate-900);
}	

.color-slate-950 {
    color: var(--slate-950);
}

.color-gray-50 {
    color: var(--gray-50);
}

.color-gray-100 {
    color: var(--gray-100);
}

.color-gray-200 {
    color: var(--gray-200);
}

.color-gray-300 {
    color: var(--gray-300);
}

.color-gray-400 {
    color: var(--gray-400);
}

.color-gray-500 {
    color: var(--gray-500);
}

.color-gray-600 {
    color: var(--gray-600);
}

.color-gray-700 {
    color: var(--gray-700);
}

.color-gray-800 {
    color: var(--gray-800);
}

.color-gray-900 {
    color: var(--gray-900);
}

.color-gray-950 {
    color: var(--gray-950);
}

.color-zinc-50 {
    color: var(--zinc-50);
}	

.color-zinc-100 {
    color: var(--zinc-100);
}	

.color-zinc-200 {
    color: var(--zinc-200);
}	

.color-zinc-300 {
    color: var(--zinc-300);
}	

.color-zinc-400 {
    color: var(--zinc-400);
}	

.color-zinc-500 {
    color: var(--zinc-500);
}	

.color-zinc-600 {
    color: var(--zinc-600);
}	

.color-zinc-700 {
    color: var(--zinc-700);
}	

.color-zinc-800 {
    color: var(--zinc-800);
}	

.color-zinc-900 {
    color: var(--zinc-900);
}	

.color-zinc-950 {
    color: var(--zinc-950);
}	

.color-neutral-50 {
    color: var(--neutral-50);
}	

.color-neutral-100 {
    color: var(--neutral-100);
}	

.color-neutral-200 {
    color: var(--neutral-200);
}	

.color-neutral-300 {
    color: var(--neutral-300);
}	

.color-neutral-400 {
    color: var(--neutral-400);
}	

.color-neutral-500 {
    color: var(--neutral-500);
}	

.color-neutral-600 {
    color: var(--neutral-600);
}	

.color-neutral-700 {
    color: var(--neutral-700);
}	

.color-neutral-800 {
    color: var(--neutral-800);
}	

.color-neutral-900 {
    color: var(--neutral-900);
}	

.color-neutral-950 {
    color: var(--neutral-950);
}

.color-green-50 {
    color: var(--green-50);
}

.color-green-100 {
    color: var(--green-100);
}

.color-green-200 {
    color: var(--green-200);
}

.color-green-300 {
    color: var(--green-300);
}

.color-green-400 {
    color: var(--green-400);
}

.color-green-500 {
    color: var(--green-500);
}

.color-green-600 {
    color: var(--green-600);
}

.color-green-700 {
    color: var(--green-700);
}

.color-green-800 {
    color: var(--green-800);
}

.color-green-900 {
    color: var(--green-900);
}

.color-green-950 {
    color: var(--green-950);
}

.color-red-50 {
    color: var(--red-50);
}

.color-red-100 {
    color: var(--red-100);
}

.color-red-200 {
    color: var(--red-200);
}

.color-red-300 {
    color: var(--red-300);
}

.color-red-400 {
    color: var(--red-400);
}

.color-red-500 {
    color: var(--red-500);
}

.color-red-600 {
    color: var(--red-600);
}

.color-red-700 {
    color: var(--red-700);
}

.color-red-800 {
    color: var(--red-800);
}

.color-red-900 {
    color: var(--red-900);
}

.color-red-950 {
    color: var(--red-950);
}

.color-blue-50 {
    color: var(--blue-50);
}

.color-blue-100 {
    color: var(--blue-100);
}

.color-blue-200 {
    color: var(--blue-200);
}

.color-blue-300 {
    color: var(--blue-300);
}

.color-blue-400 {
    color: var(--blue-400);
}

.color-blue-500 {
    color: var(--blue-500);
}

.color-blue-600 {
    color: var(--blue-600);
}

.color-blue-700 {
    color: var(--blue-700);
}

.color-blue-800 {
    color: var(--blue-800);
}

.color-blue-900 {
    color: var(--blue-900);
}

.color-blue-950 {
    color: var(--blue-900);
}

.color-stone-50 {
    color: var(--stone-50);
}	

.color-stone-100 {
    color: var(--stone-100);
}	

.color-stone-200 {
    color: var(--stone-200);
}	

.color-stone-300 {
    color: var(--stone-300);
}	

.color-stone-400 {
    color: var(--stone-400);
}	

.color-stone-500 {
    color: var(--stone-500);
}	

.color-stone-600 {
    color: var(--stone-600);
}	

.color-stone-700 {
    color: var(--stone-700);
}	

.color-stone-800 {
    color: var(--stone-800);
}	

.color-stone-900 {
    color: var(--stone-900);
}	

.color-stone-950 {
    color: var(--stone-950);
}	
.color-orange-50 {
    color: var(--orange-50);
}

.color-orange-100 {
    color: var(--orange-100);
}	

.color-orange-200 {
    color: var(--orange-200);
}	

.color-orange-300 {
    color: var(--orange-300);
}	

.color-orange-400 {
    color: var(--orange-400);
}	

.color-orange-500 {
    color: var(--orange-500);
}	

.color-orange-600 {
    color: var(--orange-600);
}	

.color-orange-700 {
    color: var(--orange-700);
}	

.color-orange-800 {
    color: var(--orange-800);
}	

.color-orange-900 {
    color: var(--orange-900);
}	

.color-orange-950 {
    color: var(--orange-950);
}
.color-amber-50 {
    color: var(--amber-50);
}	

.color-amber-100 {
    color: var(--amber-100);
}	

.color-amber-200 {
    color: var(--amber-200);
}	

.color-amber-300 {
    color: var(--amber-300);
}	

.color-amber-400 {
    color: var(--amber-400);
}	

.color-amber-500 {
    color: var(--amber-500);
}	

.color-amber-600 {
    color: var(--amber-600);
}	

.color-amber-700 {
    color: var(--amber-700);
}	

.color-amber-800 {
    color: var(--amber-800);
}	

.color-amber-900 {
    color: var(--amber-900);
}	

.color-amber-950 {
    color: var(--amber-950);
}

.color-yellow-50 {
    color: var(--yellow-50);
}	

.color-yellow-100 {
    color: var(--yellow-100);
}	

.color-yellow-200 {
    color: var(--yellow-200);
}	

.color-yellow-300 {
    color: var(--yellow-300);
}	

.color-yellow-400 {
    color: var(--yellow-400);
}	

.color-yellow-500 {
    color: var(--yellow-500);
}	

.color-yellow-600 {
    color: var(--yellow-600);
}	

.color-yellow-700 {
    color: var(--yellow-700);
}	

.color-yellow-800 {
    color: var(--yellow-800);
}	

.color-yellow-900 {
    color: var(--yellow-900);
}	

.color-yellow-950 {
    color: var(--yellow-950);
}

.color-lime-50 {
    color: var(--lime-50);
}	

.color-lime-100 {
    color: var(--lime-100);
}	

.color-lime-200 {
    color: var(--lime-200);
}	

.color-lime-300 {
    color: var(--lime-300);
}	

.color-lime-400 {
    color: var(--lime-400);
}	

.color-lime-500 {
    color: var(--lime-500);
}	

.color-lime-600 {
    color: var(--lime-600);
}	

.color-lime-700 {
    color: var(--lime-700);
}	

.color-lime-800 {
    color: var(--lime-800);
}	

.color-lime-900 {
    color: var(--lime-900);
}	

.color-lime-950 {
    color: var(--lime-950);
}

.color-emerald-50 {
    color: var(--emerald-50);
}	

.color-emerald-100 {
    color: var(--emerald-100);
}	

.color-emerald-200 {
    color: var(--emerald-200);
}	

.color-emerald-300 {
    color: var(--emerald-300);
}	

.color-emerald-400 {
    color: var(--emerald-400);
}	

.color-emerald-500 {
    color: var(--emerald-500);
}	

.color-emerald-600 {
    color: var(--emerald-600);
}	

.color-emerald-700 {
    color: var(--emerald-700);
}	

.color-emerald-800 {
    color: var(--emerald-800);
}	

.color-emerald-900 {
    color: var(--emerald-900);
}	

.color-emerald-950 {
    color: var(--emerald-950);
}

.color-teal-50 {
    color: var(--teal-50);
}	

.color-teal-100 {
    color: var(--teal-100);
}	

.color-teal-200 {
    color: var(--teal-200);
}	

.color-teal-300 {
    color: var(--teal-300);
}	

.color-teal-400 {
    color: var(--teal-400);
}	

.color-teal-500 {
    color: var(--teal-500);
}	

.color-teal-600 {
    color: var(--teal-600);
}	

.color-teal-700 {
    color: var(--teal-700);
}	

.color-teal-800 {
    color: var(--teal-800);
}	

.color-teal-900 {
    color: var(--teal-900);
}	

.color-teal-950 {
    color: var(--teal-950);
}

.color-cyan-50 {
    color: var(--cyan-50);
}	

.color-cyan-100 {
    color: var(--cyan-100);
}	

.color-cyan-200 {
    color: var(--cyan-200);
}	

.color-cyan-300 {
    color: var(--cyan-300);
}	

.color-cyan-400 {
    color: var(--cyan-400);
}	

.color-cyan-500 {
    color: var(--cyan-500);
}	

.color-cyan-600 {
    color: var(--cyan-600);
}	

.color-cyan-700 {
    color: var(--cyan-700);
}	

.color-cyan-800 {
    color: var(--cyan-800);
}	

.color-cyan-900 {
    color: var(--cyan-900);
}	

.color-cyan-950 {
    color: var(--cyan-950);
}

.color-sky-50 {
    color: var(--sky-50);
}	

.color-sky-100 {
    color: var(--sky-100);
}	

.color-sky-200 {
    color: var(--sky-200);
}	

.color-sky-300 {
    color: var(--sky-300);
}	

.color-sky-400 {
    color: var(--sky-400);
}	

.color-sky-500 {
    color: var(--sky-500);
}	

.color-sky-600 {
    color: var(--sky-600);
}	

.color-sky-700 {
    color: var(--sky-700);
}	

.color-sky-800 {
    color: var(--sky-800);
}	

.color-sky-900 {
    color: var(--sky-900);
}	

.color-sky-950 {
    color: var(--sky-950);
}

.color-blue-50 {
    color: var(--blue-50);
}	

.color-blue-100 {
    color: var(--blue-100);
}	

.color-blue-200 {
    color: var(--blue-200);
}	

.color-blue-300 {
    color: var(--blue-300);
}	

.color-blue-400 {
    color: var(--blue-400);
}	

.color-blue-500 {
    color: var(--blue-500);
}	

.color-blue-600 {
    color: var(--blue-600);
}	

.color-blue-700 {
    color: var(--blue-700);
}	

.color-blue-800 {
    color: var(--blue-800);
}	

.color-blue-900 {
    color: var(--blue-900);
}	

.color-blue-950 {
    color: var(--blue-950);
}

.color-indigo-50 {
    color: var(--indigo-50);
}	

.color-indigo-100 {
    color: var(--indigo-100);
}	

.color-indigo-200 {
    color: var(--indigo-200);
}	

.color-indigo-300 {
    color: var(--indigo-300);
}	

.color-indigo-400 {
    color: var(--indigo-400);
}	

.color-indigo-500 {
    color: var(--indigo-500);
}	

.color-indigo-600 {
    color: var(--indigo-600);
}	

.color-indigo-700 {
    color: var(--indigo-700);
}	

.color-indigo-800 {
    color: var(--indigo-800);
}	

.color-indigo-900 {
    color: var(--indigo-900);
}	

.color-indigo-950 {
    color: var(--indigo-950);
}

.color-violet-50 {
    color: var(--violet-50);
}	

.color-violet-100 {
    color: var(--violet-100);
}	

.color-violet-200 {
    color: var(--violet-200);
}	

.color-violet-300 {
    color: var(--violet-300);
}	

.color-violet-400 {
    color: var(--violet-400);
}	

.color-violet-500 {
    color: var(--violet-500);
}	

.color-violet-600 {
    color: var(--violet-600);
}	

.color-violet-700 {
    color: var(--violet-700);
}	

.color-violet-800 {
    color: var(--violet-800);
}	

.color-violet-900 {
    color: var(--violet-900);
}	

.color-violet-950 {
    color: var(--violet-950);
}

.color-purple-50 {
    color: var(--purple-50);
}	

.color-purple-100 {
    color: var(--purple-100);
}	

.color-purple-200 {
    color: var(--purple-200);
}	

.color-purple-300 {
    color: var(--purple-300);
}	

.color-purple-400 {
    color: var(--purple-400);
}	

.color-purple-500 {
    color: var(--purple-500);
}	

.color-purple-600 {
    color: var(--purple-600);
}	

.color-purple-700 {
    color: var(--purple-700);
}	

.color-purple-800 {
    color: var(--purple-800);
}	

.color-purple-900 {
    color: var(--purple-900);
}	

.color-purple-950 {
    color: var(--purple-950);
}

.color-fuchsia-50 {
    color: var(--fuchsia-50);
}	

.color-fuchsia-100 {
    color: var(--fuchsia-100);
}	

.color-fuchsia-200 {
    color: var(--fuchsia-200);
}	

.color-fuchsia-300 {
    color: var(--fuchsia-300);
}	

.color-fuchsia-400 {
    color: var(--fuchsia-400);
}	

.color-fuchsia-500 {
    color: var(--fuchsia-500);
}	

.color-fuchsia-600 {
    color: var(--fuchsia-600);
}	

.color-fuchsia-700 {
    color: var(--fuchsia-700);
}	

.color-fuchsia-800 {
    color: var(--fuchsia-800);
}	

.color-fuchsia-900 {
    color: var(--fuchsia-900);
}	

.color-fuchsia-950 {
    color: var(--fuchsia-950);
}	

.color-pink-50 {
    color: var(--pink-50);
}	

.color-pink-100 {
    color: var(--pink-100);
}	

.color-pink-200 {
    color: var(--pink-200);
}	

.color-pink-300 {
    color: var(--pink-300);
}	

.color-pink-400 {
    color: var(--pink-400);
}	

.color-pink-500 {
    color: var(--pink-500);
}	

.color-pink-600 {
    color: var(--pink-600);
}	

.color-pink-700 {
    color: var(--pink-700);
}	

.color-pink-800 {
    color: var(--pink-800);
}	

.color-pink-900 {
    color: var(--pink-900);
}	

.color-pink-950 {
    color: var(--pink-950);
}

.color-rose-50 {
    color: var(--rose-50);
}	

.color-rose-100 {
    color: var(--rose-100);
}	

.color-rose-200 {
    color: var(--rose-200);
}	

.color-rose-300 {
    color: var(--rose-300);
}	

.color-rose-400 {
    color: var(--rose-400);
}	

.color-rose-500 {
    color: var(--rose-500);
}	

.color-rose-600 {
    color: var(--rose-600);
}	

.color-rose-700 {
    color: var(--rose-700);
}	

.color-rose-800 {
    color: var(--rose-800);
}	

.color-rose-900 {
    color: var(--rose-900);
}	

.color-rose-950 {
    color: var(--rose-950);
}

/* ROOT Display Class */
.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.flex-1 {
    flex: 1 1 0%;
}
.d-grid {
    display: grid;
}

.d-table {
    display: table;
}

.d-table-cell {
    display: table-cell;
}

.d-none {
    display: none;
}


/* R00T Flex Direction */

/* Class untuk flex direction baris */
.flex-row {
    flex-direction: row;
}

/* Class untuk flex direction kolom */
.flex-column {
    flex-direction: column;
}

/* Class untuk flex direction baris terbalik */
.flex-row-reverse {
    flex-direction: row-reverse;
}

/* Class untuk flex direction kolom terbalik */
.flex-column-reverse {
    flex-direction: column-reverse;
}


/* ROOT Class Justify Content  */

/* Class untuk rata tengah secara horizontal */
.justify-content-center {
    justify-content: center;
}

/* Class untuk meratakan ke ujung kiri */
.justify-content-start {
    justify-content: flex-start;
}

/* Class untuk meratakan ke ujung kanan */
.justify-content-end {
    justify-content: flex-end;
}

/* Class untuk meratakan sepanjang ruang kosong */
.justify-content-between {
    justify-content: space-between;
}

/* Class untuk meratakan dengan jarak yang sama di sekitar elemen */
.justify-content-around {
    justify-content: space-around;
}


/* ROOT class align items */

/* Class untuk rata tengah secara vertikal */
.align-items-center {
    align-items: center;
}

/* Class untuk meratakan ke atas (ujung atas) */
.align-items-start {
    align-items: flex-start;
}

/* Class untuk meratakan ke bawah (ujung bawah) */
.align-items-end {
    align-items: flex-end;
}

/* Class untuk meratakan elemen di sepanjang ruang vertikal */
.align-items-stretch {
    align-items: stretch;
}

/* Class untuk meratakan dengan jarak yang sama di sekitar elemen vertikal */
.align-items-baseline {
    align-items: baseline;
}

/* ROOT Class Position */

.static {
    position: static;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}


/* ROOT Class Top, Botom, Left, Right */

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}


/* ROOT Class Z Index */
.z-1 {
    z-index: 11;
}

.z-2 {
    z-index: 12;
}

.z-3 {
    z-index: 13;
}

.z-4 {
    z-index: 14;
}


/* ROOT Class FONT dan Text */

.tex-bold { 
    font-weight: bold; 
}

.tex-normal { 
    font-weight: normal; 
}

.tex-italic { 
    font-style: italic; 
}

.tex-normal-style { 
    font-style: normal;
}

/* Class untuk penataan teks ke kiri */
.text-left {
    text-align: left;
}

/* Class untuk penataan teks ke tengah */
.text-center {
    text-align: center;
}

/* Class untuk penataan teks ke kanan */
.text-right {
    text-align: right;
}

.line-height-1 { 
    line-height: 1; 
}

.line-height-1_5 { 
    line-height: 1.5; 
}

.line-height-2 { 
    line-height: 2; 
}

.text-underline { 
    text-decoration: underline; 
}

.text-decoration-none { 
    text-decoration: none;
}


/* ROOT Class Width dan Height */

.w-auto {
    width: auto;
}

.w-full {
    width: 100%;
}

.w-half {
    width: 50%;
}

.w-quarter {
    width: 25%;
}

.w-full-v {
    width: 100vh;
}

.w-half-v {
    width: 50vh;
}

.h-auto {
    height: auto;
}

.h-full {
    height: 100%;
}

.h-half {
    height: 50%;
}

.h-quarter {
    height: 25%;
}

.h-full-v {
    height: 100vh;
}

.h-half-v {
    height: 50vh;
}

.full-size {
    width: 100%;
    height: 100%;
}


/* ROOT CLASS Width */
.w-1 {
    width: 0.25rem;
}

.w-2 {
    width: 0.5rem;
}

.w-3 {
    width: 0.75rem;
}

.w-4 {
    width: 1rem;
}

.w-5 {
    width: 1.25rem;
}

.w-6 {
    width: 1.5rem;
}

.w-7 {
    width: 1.75rem;
}

.w-8 {
    width: 2rem;
}

.w-9 {
    width: 2.25rem;
}

.w-10 {
    width: 2.5rem;
}

.w-11 {
    width: 2.75rem;
}

.w-12 {
    width: 3rem;
}

.w-13 {
    width: 3.25rem;
}

.w-14 {
    width: 3.5rem;
}

.w-15 {
    width: 3.75rem;
}

.w-16 {
    width: 4rem;
}

.w-17 {
    width: 4.25rem;
}

.w-18 {
    width: 4.5rem;
}

.w-19 {
    width: 4.75rem;
}

.w-20 {
    width: 5rem;
}

.w-21 {
    width: 5.25rem;
}

.w-22 {
    width: 5.5rem;
}

.w-23 {
    width: 5.75rem;
}

.w-24 {
    width: 6rem;
}

.w-25 {
    width: 6.25rem;
}

.w-26 {
    width: 6.5rem;
}

.w-27 {
    width: 6.75rem;
}

.w-28 {
    width: 7rem;
}

.w-29 {
    width: 7.25rem;
}

.w-30 {
    width: 7.5rem;
}

.w-31 {
    width: 7.75rem;
}

.w-32 {
    width: 8rem;
}

.w-33 {
    width: 8.25rem;
}

.w-34 {
    width: 8.5rem;
}

.w-35 {
    width: 8.75rem;
}

.w-36 {
    width: 9rem;
}

.w-37 {
    width: 9.25rem;
}

.w-38 {
    width: 9.5rem;
}

.w-39 {
    width: 9.75rem;
}

.w-40 {
    width: 10rem;
}

.w-41 {
    width: 10.25rem;
}

.w-42 {
    width: 10.5rem;
}

.w-43 {
    width: 10.75rem;
}

.w-44 {
    width: 11rem;
}

.w-45 {
    width: 11.25rem;
}

.w-46 {
    width: 11.5rem;
}

.w-47 {
    width: 11.75rem;
}

.w-48 {
    width: 12rem;
}

.w-49 {
    width: 12.25rem;
}

.w-50 {
    width: 12.5rem;
}

.w-51 {
    width: 12.75rem;
}

.w-52 {
    width: 13rem;
}

.w-53 {
    width: 13.25rem;
}

.w-54 {
    width: 13.5rem;
}

.w-55 {
    width: 13.75rem;
}

.w-56 {
    width: 14rem;
}

.w-57 {
    width: 14.25rem;
}

.w-58 {
    width: 14.5rem;
}

.w-59 {
    width: 14.75rem;
}

.w-60 {
    width: 15rem;
}

.w-61 {
    width: 15.25rem;
}

.w-62 {
    width: 15.5rem;
}

.w-63 {
    width: 15.75rem;
}

.w-64 {
    width: 16rem;
}

.w-65 {
    width: 16.25rem;
}

.w-66 {
    width: 16.5rem;
}

.w-67 {
    width: 16.75rem;
}

.w-68 {
    width: 17rem;
}

.w-69 {
    width: 17.25rem;
}

.w-70 {
    width: 17.5rem;
}  

.w-71 {
    width: 17.75rem;
}  

.w-72 {
    width: 18rem;
}  

/* ROOT CLASS Height */
.h-1 {
    height: 0.25rem;
}

.h-2 {
    height: 0.5rem;
}

.h-3 {
    height: 0.75rem;
}

.h-4 {
    height: 1rem;
}

.h-5 {
    height: 1.25rem;
}

.h-6 {
    height: 1.5rem;
}

.h-7 {
    height: 1.75rem;
}

.h-8 {
    height: 2rem;
}

.h-9 {
    height: 2.25rem;
}

.h-10 {
    height: 2.5rem;
}

.h-11 {
    height: 2.75rem;
}

.h-12 {
    height: 3rem;
}

.h-13 {
    height: 3.25rem;
}

.h-14 {
    height: 3.5rem;
}

.h-15 {
    height: 3.75rem;
}

.h-16 {
    height: 4rem;
}

.h-17 {
    height: 4.25rem;
}

.h-18 {
    height: 4.5rem;
}

.h-19 {
    height: 4.75rem;
}

.h-20 {
    height: 5rem;
}

.h-21 {
    height: 5.25rem;
}

.h-22 {
    height: 5.5rem;
}

.h-23 {
    height: 5.75rem;
}

.h-24 {
    height: 6rem;
}

.h-25 {
    height: 6.25rem;
}

.h-26 {
    height: 6.5rem;
}

.h-27 {
    height: 6.75rem;
}

.h-28 {
    height: 7rem;
}

.h-29 {
    height: 7.25rem;
}

.h-30 {
    height: 7.5rem;
}

.h-31 {
    height: 7.75rem;
}

.h-32 {
    height: 8rem;
}

.h-33 {
    height: 8.25rem;
}

.h-34 {
    height: 8.5rem;
}

.h-35 {
    height: 8.75rem;
}

.h-36 {
    height: 9rem;
}

.h-37 {
    height: 9.25rem;
}

.h-38 {
    height: 9.5rem;
}

.h-39 {
    height: 9.75rem;
}

.h-40 {
    height: 10rem;
}

.h-41 {
    height: 10.25rem;
}

.h-42 {
    height: 10.5rem;
}

.h-43 {
    height: 10.75rem;
}

.h-44 {
    height: 11rem;
}

.h-45 {
    height: 11.25rem;
}

.h-46 {
    height: 11.5rem;
}

.h-47 {
    height: 11.75rem;
}

.h-48 {
    height: 12rem;
}

.h-49 {
    height: 12.25rem;
}

.h-50 {
    height: 12.5rem;
}

.h-51 {
    height: 12.75rem;
}

.h-52 {
    height: 13rem;
}

.h-53 {
    height: 13.25rem;
}

.h-54 {
    height: 13.5rem;
}

.h-55 {
    height: 13.75rem;
}

.h-56 {
    height: 14rem;
}

.h-57 {
    height: 14.25rem;
}

.h-58 {
    height: 14.5rem;
}

.h-59 {
    height: 14.75rem;
}

.h-60 {
    height: 15rem;
}

.h-61 {
    height: 15.25rem;
}

.h-62 {
    height: 15.5rem;
}

.h-63 {
    height: 15.75rem;
}

.h-64 {
    height: 16rem;
}

.h-65 {
    height: 16.25rem;
}

.h-66 {
    height: 16.5rem;
}

.h-67 {
    height: 16.75rem;
}

.h-68 {
    height: 17rem;
}

.h-69 {
    height: 17.25rem;
}

.h-70 {
    height: 17.5rem;
}  

.h-71 {
    height: 17.75rem;
}  

.h-72 {
    height: 18rem;
}  

/* Root Class Padding dan Margin */
.p-0 {
    padding: 0;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 0.75rem;
}

.p-4 {
    padding: 1rem;
}

.p-4 {
    padding: 1rem;
}

.p-5 {
    padding: 1.25rem;
}

.p-6 {
    padding: 1.5rem;
}

.p-7 {
    padding: 1.75rem;
}

.p-8 {
    padding: 2rem;
}

.p-9 {
    padding: 2.25rem;
}

.p-10 {
    padding: 2.5rem;
}

.p-11 {
    padding: 2.75rem;
}

.p-12 {
    padding: 3rem;
}

.p-13 {
    padding: 3.25rem;
}

.p-14 {
    padding: 3.5rem;
}

.p-15 {
    padding: 3.75rem;
}

.p-16 {
    padding: 4rem;
}

.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}

.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.px-11 {
    padding-left : 2.75rem;
    padding-right : 2.75rem;
}

.px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-13 {
    padding-left: 3.25rem;
    padding-right: 3.25rem;
}

.px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.px-15 {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
}

.px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-7 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-9 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.py-11 {
    padding-top : 2.75rem;
    padding-bottom : 2.75rem;
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.py-13 {
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
}

.py-14 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.py-15 {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.pb-3 {
    padding-bottom: 0.75rem;
}

.pb-4 {
    padding-bottom: 1rem;
}

.pb-5 {
    padding-bottom: 1.25rem;
}

.pb-6 {
    padding-bottom: 1.5rem;
}

.pb-7 {
    padding-bottom: 1.75rem;
}

.pb-8 {
    padding-bottom: 2rem;
}

.pb-9 {
    padding-bottom: 2.25rem;
}

.pb-10 {
    padding-bottom: 2.5rem;
}

.pb-11 {
    padding-bottom : 2.75rem;
}

.pb-12 {
    padding-bottom: 3rem;
}

.pb-13 {
    padding-bottom: 3.25rem;
}

.pb-14 {
    padding-bottom: 3.5rem;
}

.pb-15 {
    padding-bottom: 3.75rem;
}

.pb-16 {
    padding-bottom: 4rem;
}

.pt-1 {
    padding-top: 0.25rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.pt-3 {
    padding-top: 0.75rem;
}

.pt-4 {
    padding-top: 1rem;
}

.pt-5 {
    padding-top: 1.25rem;
}

.pt-6 {
    padding-top: 1.5rem;
}

.pt-7 {
    padding-top: 1.75rem;
}

.pt-8 {
    padding-top: 2rem;
}

.pt-9 {
    padding-top: 2.25rem;
}

.pt-10 {
    padding-top: 2.5rem;
}

.pt-11 {
    padding-top : 2.75rem;
}

.pt-12 {
    padding-top: 3rem;
}

.pt-13 {
    padding-top: 3.25rem;
}

.pt-14 {
    padding-top: 3.5rem;
}

.pt-15 {
    padding-top: 3.75rem;
}

.pt-16 {
    padding-top: 4rem;
}

.pl-1 {
    padding-left: 0.25rem;
}

.pl-2 {
    padding-left: 0.5rem;
}

.pl-3 {
    padding-left: 0.75rem;
}

.pl-4 {
    padding-left: 1rem;
}

.pl-5 {
    padding-left: 1.25rem;
}

.pl-6 {
    padding-left: 1.5rem;
}

.pl-7 {
    padding-left: 1.75rem;
}

.pl-8 {
    padding-left: 2rem;
}

.pl-9 {
    padding-left: 2.25rem;
}

.pl-10 {
    padding-left: 2.5rem;
}

.pl-11 {
    padding-left : 2.75rem;
}

.pl-12 {
    padding-left: 3rem;
}

.pl-13 {
    padding-left: 3.25rem;
}

.pl-14 {
    padding-left: 3.5rem;
}

.pl-15 {
    padding-left: 3.75rem;
}

.pl-16 {
    padding-left: 4rem;
}

.pr-1 {
    padding-right: 0.25rem;
}

.pr-2 {
    padding-right: 0.5rem;
}

.pr-3 {
    padding-right: 0.75rem;
}

.pr-4 {
    padding-right: 1rem;
}

.pr-5 {
    padding-right: 1.25rem;
}

.pr-6 {
    padding-right: 1.5rem;
}

.pr-7 {
    padding-right: 1.75rem;
}

.pr-8 {
    padding-right: 2rem;
}

.pr-9 {
    padding-right: 2.25rem;
}

.pr-10 {
    padding-right: 2.5rem;
}

.pr-11 {
    padding-right : 2.75rem;
}

.pr-12 {
    padding-right: 3rem;
}

.pr-13 {
    padding-right: 3.25rem;
}

.pr-14 {
    padding-right: 3.5rem;
}

.pr-15 {
    padding-right: 3.75rem;
}

.pr-16 {
    padding-right: 4rem;
}

/* ROOT CLASS Margin */

.m-0 {
    margin: 0;
}

.m-1 {
    margin: 0.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: 0.75rem;
}

.m-4 {
    margin: 1rem;
}

.m-4 {
    margin: 1rem;
}

.m-5 {
    margin: 1.25rem;
}

.m-6 {
    margin: 1.5rem;
}

.m-7 {
    margin: 1.75rem;
}

.m-8 {
    margin: 2rem;
}

.m-9 {
    margin: 2.25rem;
}

.m-10 {
    margin: 2.5rem;
}

.m-11 {
    margin: 2.75rem;
}

.m-12 {
    margin: 3rem;
}

.m-13 {
    margin: 3.25rem;
}

.m-14 {
    margin: 3.5rem;
}

.m-15 {
    margin: 3.75rem;
}

.m-16 {
    margin: 4rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mb-7 {
    margin-bottom: 1.75rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.mb-9 {
    margin-bottom: 2.25rem;
}

.mb-10 {
    margin-bottom: 2.5rem;
}

.mb-11 {
    margin-bottom: 2.75rem;
}

.mb-12 {
    margin-bottom: 3rem;
}

.mb-13 {
    margin-bottom: 3.25rem;
}

.mb-14 {
    margin-bottom: 3.5rem;
}

.mb-15 {
    margin-bottom: 3.75rem;
}

.mb-16 {
    margin-bottom: 4rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-5 {
    margin-top: 1.25rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-7 {
    margin-top: 1.75rem;
}

.mt-8 {
    margin-top: 2rem;
}

.mt-9 {
    margin-top: 2.25rem;
}

.mt-10 {
    margin-top: 2.5rem;
}

.mt-11 {
    margin-top: 2.75rem;
}

.mt-12 {
    margin-top: 3rem;
}

.mt-13 {
    margin-top: 3.25rem;
}

.mt-14 {
    margin-top: 3.5rem;
}

.mt-15 {
    margin-top: 3.75rem;
}

.mt-16 {
    margin-top: 4rem;
}

.mr-1 {
    margin-right: 0.25rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr-3 {
    margin-right: 0.75rem;
}

.mr-4 {
    margin-right: 1rem;
}

.mr-4 {
    margin-right: 1rem;
}

.mr-5 {
    margin-right: 1.25rem;
}

.mr-6 {
    margin-right: 1.5rem;
}

.mr-7 {
    margin-right: 1.75rem;
}

.mr-8 {
    margin-right: 2rem;
}

.mr-9 {
    margin-right: 2.25rem;
}

.mr-10 {
    margin-right: 2.5rem;
}

.mr-11 {
    margin-right: 2.75rem;
}

.mr-12 {
    margin-right: 3rem;
}

.mr-13 {
    margin-right: 3.25rem;
}

.mr-14 {
    margin-right: 3.5rem;
}

.mr-15 {
    margin-right: 3.75rem;
}

.mr-16 {
    margin-right: 4rem;
}

.ml-1 {
    margin-left: 0.25rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml-3 {
    margin-left: 0.75rem;
}

.ml-4 {
    margin-left: 1rem;
}

.ml-4 {
    margin-left: 1rem;
}

.ml-5 {
    margin-left: 1.25rem;
}

.ml-6 {
    margin-left: 1.5rem;
}

.ml-7 {
    margin-left: 1.75rem;
}

.ml-8 {
    margin-left: 2rem;
}

.ml-9 {
    margin-left: 2.25rem;
}

.ml-10 {
    margin-left: 2.5rem;
}

.ml-11 {
    margin-left: 2.75rem;
}

.ml-12 {
    margin-left: 3rem;
}

.ml-13 {
    margin-left: 3.25rem;
}

.ml-14 {
    margin-left: 3.5rem;
}

.ml-15 {
    margin-left: 3.75rem;
}

.ml-16 {
    margin-left: 4rem;
}

/* ROOT Class Border Radius */
.border-radius-0 {
    border-radius: 0;
}

.border-radius-50 {
    border-radius: 50%;
}

.border-radius-100 {
    border-radius: 100%;
}

/* ROOT Class Cursor Type */
.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-crosshair {
    cursor: crosshair;
}

.cursor-move {
    cursor: move;
}

.cursor-text {
    cursor: text;
}

.cursor-wait {
    cursor: wait;
}

.cursor-help {
    cursor: help;
}

.cursor-not-allowed {
    cursor: not-allowed;
}
